body{
    background-color: #313131;
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: FiraCode;
    src:  url("woff2firacode/FiraCode-Regular.woff2");
    font-weight: bold;
  }
  *{
    font-family: FiraCode;
  }